JELLYFIN_SERVER=http://localhost:8096
JELLYFIN_USER=username
JELLYFIN_PASSWORD=password
SERVER_PORT=60421
ADDON_HOST=http://127.0.0.1
TORRENTIO_SETTINGS=providers=yts,eztv,rarbg,1337x,thepiratebay...
TRANSMISSION_URL=http://localhost:9091
TRANSMISSION_USER=username
TRANSMISSION_PASSWORD=password
TRANSMISSION_DOWNLOAD_DIR=/srv/transmission/downloads
