JELLYFIN_SERVER=http://localhost:8096
JELLYFIN_USER=username
JELLYFIN_PASSWORD=password
SERVER_PORT=60421
TRANSMISSION_URL=http://localhost:9091
TRANSMISSION_USER=username
TRANSMISSION_PASSWORD=password
